#section1 h3{
    font-size: 1.3em;
    color: white;
}
#icon1-head{
    width: 10%;
}
.icon-head{
    width: 400%;
}
#header{
    background: url(/assets/images/consolas-de-videojuegos_0.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 9%;
}
.dropdown-item{
    color: red !important;
}
.dropdown-menu{
    background-color:#2b2a2a !important;
}

#section1{
    margin-left: 5%;
    margin-right: 5%;
}
#section1 > header img{
    margin-right: 10px;
    filter: invert(39%) sepia(44%) saturate(6967%) hue-rotate(344deg) brightness(98%) contrast(105%);
}
.header2{
    width: 40%;
}
#img-header img{
    width: 80%;
    margin-left: 15%;
}
#div2-head{
    margin-top: 5%;
    display: flex;
}
.header2 h1{
    font-size: 5em;
}
.btn-edit {
    width: 30%;
}
.btn-edit:hover {
    color: black !important;
}
.btn-primary {
    background-color: red !important;
    border-color: red !important;
}
.div2-sec2 img{
    width: 50%;
    height: 166px;
    border-radius: 50%;
}
.section2 {
    color: white;
    text-align: center;
}
.divs-sec2{
    width: 25%;
}
#div1-sec2{
    background-color: #2b2a2a;
    padding-top: 4%;
    padding-bottom: 4%;
}
.div2-sec2{
    padding-top: 4%;
    padding-bottom: 4%;
    background: url(/assets/images/fondo1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#div1-sec2 p {
    margin-left: 14%;
    width: 70%;
}
.col input{
    margin-left: 39%;
    width: 86% !important;
}
.col button{
    margin-left: 30%;
    width: 33% !important;
}
.div1-sec3{
    margin-left: 8%;
    margin-right: 8%;
    padding: 6% 6% 6% 6%;
    border-radius: 10px;
    background: url(/assets/images/fondo1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}.section3{
    padding-top: 5%;
    background: url(/assets/images/fondo2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.div1-sec3 h1{
    padding-bottom: 3%;
}
.div2-sec3 h1{
    text-align: center;
    color:white;
    padding-top: 5%;
    padding-bottom: 3%;
}
.divs1-sec4{
    color: white;
    width: 40%;
    margin-bottom: 3%;
}
.divs1-sec4 img{
    width: 100%;
}
.section4{
    padding-top: 3%;
    padding-bottom: 1%;
    background: url(/assets/images/fondo2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section4 > h1{
    padding-bottom: 3%;
}
.section5{
    padding-top: 5%;
    padding-bottom: 20%;
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.637) 0%, hsla(0, 0%, 0%, 0.607) 35%),url(/assets/images/fondo4.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
}
.section5 button{
    margin-left: 37%;
}
.div1-sec5 > img{
    margin-bottom: 5%;
    margin-left: 45%;
    width: 13%;
    filter: invert(17%) sepia(81%) saturate(7041%) hue-rotate(343deg) brightness(91%) contrast(110%);
}

.section6{
    color: white;
    background-color: #2b2a2a;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 7%;
}
.logo-sec6 img{
    width: 30%;
    filter: invert(17%) sepia(81%) saturate(7041%) hue-rotate(343deg) brightness(91%) contrast(110%);
}
.logo-sec6 > h1{
    margin-left: 6%;
    margin-top: 9%;
}
.logo-sec6{
    padding-bottom: 30%;
    border-bottom: 1px solid #fff;
}
.div1-sec6{
    width: 30%;
}
.div1-sec6 > p{
    padding-top: 5%;
}
footer ul li {
    list-style-type: none;
}
footer ul > li > a {
    color: red !important;
    text-decoration: none;
    font-size: 1.2em;
}
.div2-sec6{
    padding-left: 7%;
    padding-top: 3%;
}
@media screen and (max-width: 376px){
    #header {
        background: url(/assets/images/consolas-de-videojuegos_0.png);
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 9%;
    }
    .mb-3 {
        width: 89%;
        margin-bottom: 1rem!important;
    }
    #img-header img {
        width: 91%;
        margin-left: 5%;
        margin-top: 5%;
    }
    .btn-edit {
        width: 34%;
    }
    .header2 h1 {
        font-size: 2em;
    }
    #div2-head {
        margin-top: 5%;
        flex-wrap: wrap;
    }
    .header2 {
        text-align: center;
        width: 100%;
    }
    .div2-sec2 {
        padding-top: 4%;
        padding-bottom: 4%;
        background: url(/assets/images/fondo1.jpg);
        background-size: 100%;
    }
    .div2-sec2 img {
        width: 70%;
        height: 187px;
        border-radius: 50%;
    }
    .divs-sec2 {
        width: 74%;
    }
    .section3 {
        padding-top: 5%;
        background: url(/assets/images/fondo2.jpg);
        background-repeat: no-repeat;
    }
    .col button {
        width: 83% !important;
    }
    .col input {
        margin-left: 0%;
        width: 130% !important;
    }
    .section4 {
        padding-top: 3%;
        padding-bottom: 1%;
        background: url(/assets/images/fondo2.jpg);
        background-repeat: no-repeat;
    }
    .divs1-sec4 {
        color: white;
        width: 92%;
        text-align: center;
        margin-bottom: 3%;
    }
    .section5 button {
        margin-left: 21%;
        width: 60%;
    }
    .div1-sec6 {
        width: 100%;
    }
    .section6 {
        color: white;
        background-color: #2b2a2a;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 7%;
        text-align: center;
    }
    .div2-sec6 {
        padding-top: 3%;
        width: 100%;
        padding-left: 0%;
    }
    ol, ul {
        padding-left: 0rem !important;
    }
    .div1-sec3 {
        margin-left: 4%;
        margin-right: 3%;
        padding: 6% 6% 6% 6%;
        border-radius: 10px;
        background: url(/assets/images/fondo1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}